body {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: "Jost", sans-serif;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    width: 1120px;
}

/* Шапка сайту */
.header {
    background-color: #ddf9ff;
    padding: 34px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-img {
    width: 210px;
}

.header-list {
    display: flex;
    gap: 64px;
}

.header-link {
    color: #3a2e2e;
    font-weight: 700;
}

/* Головна секція */
.hero {
    background-color: #ddf9ff;
    padding-bottom: 47px;
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 57px;
}

.hero-wrap {
    min-width: 562px;
}

.hero-span {
    color: #6278b4;
    font-weight: 600;
}

.hero-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 103%;
    color: #3a2e2e;
    padding: 16px 0;
}

.hero-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 153%;
    color: #3a2e2e;
    padding-bottom: 32px;
    width: 214px;
}

.hero-button {
    font-weight: 900;
    display: inline-block;
    font-size: 20px;
    line-height: 153%;
    color: #fff;
    padding: 15px 22px;
    background-color: #6278b4;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

/* Друга секція  */
.services {
    background-color: #fbfcff;
    padding-top: 25px;
    padding-bottom: 55px;
}

.services-title {
    font-weight: 600;
    font-size: 48px;
    color: #3a2e2e;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 4px solid #6278b4;
    width: 351px;
    margin: 0 auto 50px;
}

.services-title span {
    color: #6278b4;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
}

.services-item {
    display: flex;
    flex: 1;
}

.services-img {
    width: 49px;
    height: 49px;
    margin-right: 12px;
}

.services-caption {
    font-weight: 400;
    line-height: 153%;
    color: #3a2e2e;
    margin-bottom: 25px;
}

.services-caption span {
    font-weight: 500;
    color: #6278b4;
}

.services-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 153%;
    color: #3a2e2e;
}

/* Третя секція  */
.work {
    background-color: #ddf9ff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.work-container {
    display: flex;
    align-items: center;
    gap: 130px;
}

.work-title {
    padding-bottom: 28px;
    font-weight: 900;
    font-size: 48px;
    line-height: 153%;
    color: #6278b4;
}

.work-text {
    font-weight: 500;
    font-size: 20px;
    color: #3a2e2e;
}

/* Четверта секція  */
.specialists {
    padding-top: 32px;

}